@echo off

set PATH=%PATH%;D:\dev\bin;D:\dev\ogre\lib;D:\dev\ogre\Samples\Common\bin\Debug;D:\dev\newton\dll;

D:\dev\bin\ZGameLoader_d.exe client.xml GameClient lua scripts\client\init.lua

pause
