<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioPropertySheet
	ProjectType="Visual C++"
	Version="8.00"
	Name="main_env_vars"
	>
	<UserMacro
		Name="INDIEZEN_PARENT"
		Value="c:\dev\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="INDIEZEN_HOME"
		Value="$(INDIEZEN_PARENT)indiezen\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="BOOST_HOME"
		Value="$(INDIEZEN_PARENT)boost\boost_1_34_1\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LOG4CXX_HOME"
		Value="$(INDIEZEN_HOME)log4cxx\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="OGRE_HOME"
		Value="$(INDIEZEN_PARENT)ogre\ogrenew\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="PYTHON_HOME"
		Value="$(INDIEZEN_PARENT)Python25\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LIBXML_HOME"
		Value="$(INDIEZEN_HOME)libxml2\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="PHYSX_ROOT"
		Value="$(INDIEZEN_PARENT)PhysX\SDK\v2.8.0\SDKs\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="INDIEZEN_DEBUG_LIB"
		Value="$(INDIEZEN_HOME)framework\debug\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="INDIEZEN_RELEASE_LIB"
		Value="$(INDIEZEN_HOME)framework\release\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="BOOST_INCLUDE"
		Value="$(BOOST_HOME)"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="BOOST_LIB"
		Value="$(BOOST_HOME)lib\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LOG4CXX_INCLUDE"
		Value="$(LOG4CXX_HOME)src\main\include\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LOG4CXX_DEBUG_LIB"
		Value="$(LOG4CXX_HOME)projects\Debug\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LOG4CXX_RELEASE_LIB"
		Value="$(LOG4CXX_HOME)projects\Release\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="OGRE_DEPENDENCIES_INCLUDE"
		Value="$(OGRE_HOME)Dependencies\include\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="OGRE_DEPENDENCIES_DEBUG_LIB"
		Value="$(OGRE_HOME)Dependencies\lib\Debug\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="OGRE_INCLUDE"
		Value="$(OGRE_HOME)OgreMain\include\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="OGRE_LIB"
		Value="$(OGRE_HOME)lib\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="PYTHON_INCLUDE"
		Value="$(PYTHON_HOME)include\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="PYTHON_LIB"
		Value="$(PYTHON_HOME)lib\"
		PerformEnvironmentSet="true"
	/>
	<UserMacro
		Name="LIBXML_INCLUDE"
		Value="$(LIBXML_HOME)include\"
		PerformEnvironmentSet="true"
	/>
</VisualStudioPropertySheet>
