<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZBasicCommandLineParser"
   name="IndieZen Basic Command Line Parser Plug-in"
   version="0.1.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZBasicCommandLineParser">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
    </requires>

	<extension
          point="Zen::Engine::Server::CommandLineParserService"
          id="ZBasicCommandLineParser"
          name="IndieZen Basic Command Line Parser Service"
          type="CommandLineParserService">
		<!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
		<sound-service
              class="Zen::ZBasicCommandLineParser::CommandLineParserService"
              type="CommandLineParserService">
		</sound-service>
	</extension>

</plugin>
