<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<application
   id="ZenStudio"
   name="Zen Studio"
   version="0.6.0"
   provider-name="IndieZen.org">

  <plugin-path path="C:/dev/Zen/plugins"/>
  <plugin-path path="C:/dev/Zen/Studio"/>
  <plugin-path path="C:/dev/Zen/StudioPlugins"/>
  <module-path path="C:/dev/bin"/>

  <requires>
    <import plugin="Workbench"/>
    <import plugin="WorkbenchServer"/>
    <import plugin="GameBuilder"/>
    <import plugin="GameBuilderServer"/>
    <import plugin="WorldBuilder"/>
    <import plugin="WorldBuilderServer"/>
    <import plugin="ArtLibrary"/>
    <import plugin="ArtLibraryServer"/>
    <import plugin="ZSQLite"/>
    <import plugin="ZOgre"/>
    <import plugin="ZBoostNetworking"/>
  </requires>

  <protocols>
    <protocol type="tcp-binary" name="main" port="8321" comment="Main protocol adapter"/>
  </protocols>

  <applications>
    <application type="WorkbenchServer" location="/workbench" />
  </applications>
  
</application>
