<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZPhysX"
   name="IndieZen PhysX Plug-in"
   version="0.1.0"
   provider-name="IndieZen.com">

  <runtime>
    <library name="ZPhysX">
      <export name="*"/>
    </library>
  </runtime>

  <requires>
    <import plugin="Framework"/>
  </requires>

  <extension
        point="IndieZen::PhysX::PhysicsService"
        id="ZPhysXPhysics"
        name="IndieZen PhysX Physics Service"
        type="physx">
    <!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
    <rendering-service
          class="IndieZen::ZPhysX::PhysicsService"
          type="physx">
    </rendering-service>
  </extension>

</plugin>
