<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZODE"
   name="IndieZen ODE Plug-in"
   version="0.6.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZODE">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
    </requires>

	<extension
          point="Zen::Engine::Physics::PhysicsService"
          id="ode"
          name="IndieZen ODE Physics Service"
          type="ode">
		<!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
		<physics-service
              class="Zen::ZODE::PhysicsService"
              type="ode">
		</physics-service>
	</extension>

	<extension
		point="Zen::Engine::Resource::ResourceService"
		  id="ode"
		  name="IndieZen ODE Resource Service"
		  type="ode">
		<!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
		<resource-service
			  class="Zen::ZODE::ResourceService"
			  type="ode">
		</resource-service>
	</extension>

</plugin>
