<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZSQLite"
   name="IndieZen SQLite Plug-in"
   version="0.3.0"
   provider-name="IndieZen.org">

	<runtime>
		<library name="ZSQLite">
			<export name="*"/>
		</library>
	</runtime>

	<requires>
		<import plugin="Framework"/>
	</requires>

	<extension
          point="Zen::Enterprise::Database::DatabaseService"
          id="ZSQLite"
          name="Zen SQLite Service"
          type="sqlite">
		<!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
		<database-service
              class="Zen::ZSQLite::DatabaseService"
              type="sqlite">
		</database-service>
	</extension>

</plugin>
