<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZInput"
   name="IndieZen OIS Plug-in"
   version="0.1.0"
   provider-name="IndieZen.org">

  <runtime>
    <library name="ZInput">
      <export name="*"/>
    </library>
  </runtime>

  <requires>
    <import plugin="Framework"/>
  </requires>

  <extension
      point="Zen::Engine::Input::InputService"
      id="KeyboardInputDevice"
      name="IndieZen Keyboard"
      type="keyboard">
    <!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
    <input-service
          class="Zen::ZInput::KeyboardService"
          type="keyboard">
    </input-service>
  </extension>

</plugin>
