<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZSky"
   name="IndieZen Sky Plug-in"
   version="0.2.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZSky">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
    </requires>

	<extension
          point="Zen::Engine::World::SkyService"
          id="ZSky"
          name="IndieZen Sky Service"
          type="ZSky">
		<!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
		<sky-service
              class="Zen::ZSky::SkyService"
              type="ZSky">
		</sky-service>
	</extension>

</plugin>
