<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZPhysX"
   name="IndieZen Postgres Plug-in"
   version="0.1.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZPostgres">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
    </requires>

    <extension
          point="IndieZen::Database::DatabaseService"
          id="ZPostgres"
          name="IndieZen Postgres Service"
          type="postgres">
        <!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
        <database-service
              class="IndieZen::ZPostgres::DatabaseService"
              type="postgres">
        </database-service>
    </extension>

</plugin>
