<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="SessionServer"
   name="Zen Worlds Session Server"
   version="0.4.0"
   provider-name="IndieZen.org">

  <runtime>
    <library name="SessionServer">
      <export name="*"/>
    </library>
  </runtime>

  <requires>
    <import plugin="Framework"/>
    <import plugin="ZSQLite"/>
  </requires>

  <extension
        point="Zen::Enterprise::AppServer::ApplicationService"
        id="SessionServer"
        name="Zen Worlds Session Server"
        type="SessionServer">
    <application-service
          class="Worlds::SessionService">
    </application-service>
  </extension>

</plugin>
