@echo off

set PATH=%PATH%;C:\dev\bin;C:\dev\ogre\lib;C:\dev\ogre\Samples\Common\bin\Debug;C:\dev\newton\dll;

C:\dev\bin\ZGameLoader_d.exe client.xml TemplateClient lua scripts\client\init.lua

pause
