<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="GameClient"
   name="Zen Engine Game Client"
   version="0.4.0"
   provider-name="IndieZen.org">

  <runtime>
    <library name="GameClient">
      <export name="*"/>
    </library>
  </runtime>

  <requires>
    <import plugin="Framework"/>
    <import plugin="ZOgre"/>
    <import plugin="ZCam"/>
  </requires>

  <extension
        point="Zen::Engine::Client::GameClient"
        id="Pong"
        name="Zen Engine Game Client"
        type="GameClient">
    <game-client
          class="Game::Client::GameClient">
    </game-client>
  </extension>

</plugin>
