<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZOgitor"
   name="Zen Studio Ogitor Plug-in"
   version="0.6.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZOgitor">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
        <import plugin="Workbench"/>
        <import plugin="GameBuilder"/>
    </requires>

    <extension
        point="Zen::Studio::Workbench::ContributorService"
        id="ZOgitor::ContributorService">
        <contributor-service
            class="ZOgitor::ContributorService"
        />
    </extension>

    <extension
            point="Zen::Studio::Workbench::ExplorerNode"
            id="ZOgitor::LevelFolder"
            type="ZOgitor::LevelFolder">
        <explorer-node
            class="ZOgitor::LevelFolder"
        />
    </extension>

    <extension
            point="Zen::Studio::Workbench::ExplorerNode"
            id="ZOgitor::Level"
            type="ZOgitor::Level">
        <explorer-node
            class="ZOgitor::Level"
        />
    </extension>    
</plugin>
