# Defines plugins to load

# Define plugin folder
PluginFolder=C:\dev\ogre\lib

# Define D3D rendering implementation plugin
Plugin=RenderSystem_GL_d.dll
Plugin=Plugin_ParticleFX_d.dll
Plugin=Plugin_BSPSceneManager_d.dll
Plugin=Plugin_OctreeSceneManager_d.dll
#Plugin=Plugin_CgProgramManager_d.dll
