<?xml version="1.0" encoding="utf-8"?>
<?indiezen version="1.0"?>
<plugin
   id="ZPython"
   name="IndieZen Python Plug-in"
   version="0.1.0"
   provider-name="IndieZen.org">

    <runtime>
        <library name="ZPython">
            <export name="*"/>
        </library>
    </runtime>

    <requires>
        <import plugin="Framework"/>
    </requires>

    <extension
          point="Zen::Scripting::Engine"
          id="ZPythonEngine"
          name="IndieZen Python Script Engine"
          type="python">
        <!-- This "type" attribute shouldn't be here; it should be down below but there's a bug in  -->
        <rendering-service
              class="Zen::ZPython::PythonEngine"
              type="python">
        </rendering-service>
    </extension>

</plugin>
